.paperStyle {
  width: 90%;
  margin: 20px auto;
  overflow-y: scroll;
  max-height: 350px;
}

.flexButtons {
  display: flex;
  gap: 1rem;
}
.header {
  background-color: crimson;
  color: white;
  position: sticky;
  top: 0;
}

.icon {
  max-height: 30px;
  color: white;
}

.icon-disabled {
  max-height: 30px;
  color: silver;
}
